<% @visible_packs.each do |pack| %>
<h2 style="display: inline;"><%= pack.name %></h2>
<h3 style="display: inline;"><%= link_to "Edit Pack", "/pack_table_name/#{pack.id}/edit"%></h3>
<p style="display: inline"><%= link_to "Delete Pack", "/pack_table_name/#{pack.id}", id: "Delete #{pack.id}",:method => :delete %><br/>
<p><%= "Capacity: #{pack.liters} Liters"%></p>
<p><%= "Waterproof? #{pack.waterproof}"%></p>
<% end %>
