<% @brands.each do |brand|%>
  <h2 style="display: inline"><%= brand.name %></h2>
  <p style="display: inline"><%= link_to "Edit Brand", "/brands/#{brand.id}/edit"%></p>
  <p style="display: inline"><%= link_to "Delete Brand", "/brands/#{brand.id}/delete", id: "Delete #{brand.id}" %></p>
  <p><%= brand.founded %></p>
  <p><%= brand.backpacks_only %></p>
<% end %>
<%= link_to "New Brand", "/brands/new"%>
