<h1><%= @brand.name %>
<h2><%= link_to "Alphabetize", "/brands/#{@brand.id}/packs_table_name?sort=true" %>
<% @packs.each do |pack| %>
<h2><%= pack.name %></h2>
<p><%= pack.liters %></p>
<p><%= pack.waterproof%><p>
<%end%>
<h3><%= link_to "Create Pack", "/brands/#{@brand.id}/pack_table_name/new" %></h3>